<head>

<h2>FIND AND SHARE YOUR FAVOURITE STREET ARTS</h2>
   
</head>
<body>
  This is a collaborative app dedicated to street art fantasts. 
  GraffityWall encurage devoted users to find and share the hidden gold of Berlins streets. 
  Start to <a href="/explore"> explore </a> and <a href="/explore/postForm"> post </a> your favourite pieces of street art.
  Your posts will appear on our graffity-wall.
</body>

