<h1>SHARE YOUR FAVOURITE ARTS</h1>
<h3>New Post</h3>
{{!-- img form --}}
<section>
    <form action="/explore" method="post" enctype="multipart/form-data">
        <h2>Upload your photo</h2>
        {{!-- url --}}
        <input type="text" name="name">
        <input type="file" name="photo">

        <li>
            <label for="title">Title: </label>
            <input type="text" name="title" id="title">
        </li>
        <li>
            <label for="artist">Artist: </label>
            <input type="text" name="artist" id="artist">
        </li>
        <li>
            <label for="description">Description: </label>
            <input type="text" name="description" id="description">
        </li>
        <li>
            <label for="area">Area: </label>
            <input type="text" name="area" id="area">
        </li>
        <li>
            <label for="adress">Adress: </label>
            <input type="text" name="adress" id="adress">
        </li>
        <li>
            <label for="postBy">Posted by: </label>
            <input type="text" name="postBy" id="postBy">
        </li>
        </li>

        <input type="submit" value="Save">
    </form>
</section>