* {
  // font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  max-width: 650px;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.carousel-item {
  background-color: red
}

.d-block {
  height: 400px;
  // width: 100%;
}

.homepage-heading {

  // position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  text-decoration-line: underline;
  padding: 2%;
  border: 0.10px solid rgb(107, 101, 101);
  // border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background-color: rgba(94, 100, 94, 0.1)
}

.text-intro {

  position: relative;
  width: 100%;
  text-align: center;
  padding: 2%;
  background-color: rgba(94, 100, 94, 0.1) // border: 0.25px solid rgb(0, 0, 0);
}

h1 {
  font-size: 3.2em;
  margin: 50px 0;

}

h2 {

  margin: 0;
  font-size: 2.5em;
}

h3 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
}

h4 {
  font-size: 1.1em;

}

a {
  text-decoration-style: solid;
  color: black;
  font-weight: 900;
}


// navbar

.navbar {
  height: 200px;
  transition: 0.7s;
  background-image: url("https://image.freepik.com/free-photo/brick-texture-with-scratches-cracks_73989-4714.jpg");

}

.navHeading {
  font-family: 'Saira Stencil One', cursive;
  font-size: 3.2em;
  margin: 10px 0;
  color: darkslategray;
}

// navbar content
.pos-f-t {
  position: relative;
  width: 100%;
  text-align: center;
  background-image: url("https://image.freepik.com/free-photo/brick-texture-with-scratches-cracks_73989-4714.jpg");

}

#override {
  color: #900;
  background-color: darkslategray;
}

.navbar-toggler {
  color: black
}

// footer


#sticky-footer {
  flex-shrink: none;
  background-image: url("https://image.freepik.com/free-photo/brick-texture-with-scratches-cracks_73989-4714.jpg");
  // height: 0%;
}

#footer-text {
  color: black;
  display: flex;
  justify-content: last baseline;
}

// postForm
.post-form {
  position: relative;
  width: 100%;

  font-size: 1.5em;
  margin: 7%;
}

.newpost-text {
  margin-top: 6%;
  font-size: 2.5em;
  text-align: center;
}

.btn-submit {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: rgb(56, 161, 29);
  border: 1px solid rgb(56, 161, 29);
  width: 40%;
  margin-left: 20%;
  margin-right: 30%;
}

.btn-submit:hover {
  color: #FFF;
  background: #900;
}

.list-items {
  margin: 2%;

}

.list-box {
  border-bottom: 2px solid black;
  width: 90%;
}



// signup page
.signup-form {
  position: relative;
  width: 100%;
  font-size: 1.5em;
  margin: 7%;
}

.btn-signup {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: rgb(56, 161, 29);
  border: 1px solid rgb(56, 161, 29);
  width: 40%;
  margin-left: 20%;
  margin-right: 30%;
}

.btn-signup:hover {
  color: #FFF;
  background: #900;
}

.newsignup-text {
  margin-top: 6%;
  font-size: 2.5em;
  text-align: center;
}

.account-message {
  margin-top: -10px;
  text-align: left;
  font-size: 80%;

}


.link a {
  font-weight: 900;
}

.page-wrapper {
  flex: 1;
}